.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  width: 100px;
  height: 100px;
}


#target_address {
  font-size: 18px;
  padding: 5px;
  min-width: 350px !important;
}

.homecontrainerdiv {
  margin-top: 20px;
  text-align: left;
}

#dropdown-basic {
  width: 100%;
}

#startmon {
  width: 100%;
}

#selectedSimHolder {
  display: none;
}

#makemesmaller {
  width: 99% !important;
  margin-top:25px !important;
  padding: 15px !important;
}